.form-container{
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid mediumslateblue;
    display: flex;
    border-radius: 5px;
    justify-content: center;
}
.login-title{
    font-size: 35px;
    color: darkorange;
    font-weight: 400;
}
.input-group{margin-bottom: 20px;}
.input-group label{
    display: block;
}
.input-group input{
    width: 415px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 24px;
}
.form-submit{
    width: 410px;
    height: 55px;
    background-color:wheat;
    border-radius: 10px;
    font-size: 20px;
    border: none;        
}
.form-submit:hover{
    background-color: chartreuse;
    cursor: pointer;
}
.form-link{
    color: darkorange;
    text-decoration: none;
}